body {
background-color:#000045;
display: flex;
justify-content: center;
padding: 40px;
}
#playBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.building {
  /*border-top:  rgba(248, 242, 242, 0.516) 2px solid;*/
    border-right: 20px solid rgba(0,0,0,0.25);
     border-top: 8px solid rgba(0,0,0,0.25);

  
  background-color:#afaaaac1;
  display: flex;
  flex-direction: row;
  width: 300px;
 
  padding-left: 55px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.window {
/*border: rgb(97, 96, 96) 1px solid;*/
border-radius: 2px;
height: 50px;
background: #000000;
padding: 0px;
display: flex;
flex-direction: column;
gap: 0px;
width: 50px;
}
.minutes .pane {
height:10px;
opacity: 0.8;

}
.seconds .pane {
height:10px;
opacity: 0.8;

}
.hours .pane {
height: 25px;
opacity: 0.8;
}

img {
  position: absolute;
  top: 0px;
  left: 1000px;
  width: 200px;
  height: 200px;
  
  opacity: 0.8;
}