body{background-color: black;}


 button {
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 12px;
 
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  width: 100px;
  height: 100px;
  /*opacity: 0.5;*/
  transition: all 0.3s ease;
  
}

.box {
  background-color: white;
  /*border: 1px solid black;*/
  /*opacity: 0.3;*/
  
   animation: flicker 3s ease-in-out infinite;
}



.box2 {
  background-color: white;
  border: 1px solid black;
  opacity: 0.3;
  animation: flicker 8s ease-in-out infinite;
}

.box3 {
  background-color: white;
  border: 1px solid black;
  opacity: 0.3;
  animation: flicker 8s ease-in-out infinite;
}

.box4 {
  background-color: white;
  border: 1px solid black;
  opacity: 0.3;
  animation: flicker 8s ease-in-out infinite;
}
@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(1px, 0) rotate(0.2deg); }
  20% { transform: translate(-1px, 0) rotate(-0.2deg); }
  30% { transform: translate(1px, 0) rotate(0.2deg); }
  40% { transform: translate(-1px, 0) rotate(-0.2deg); }
  50% { transform: translate(1px, 0) rotate(0.2deg); }
  60% { transform: translate(-1px, 0) rotate(-0.2deg); }
  70% { transform: translate(1px, 0) rotate(0.2deg); }
  80% { transform: translate(-1px, 0) rotate(-0.2deg); }
  90% { transform: translate(1px, 0) rotate(0.2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
.shake {
  animation: shake 0.3s infinite;
}
@keyframes flicker {
  0%, 100% { opacity: 0.3; transform: scale(0.5); }
  50% { opacity: 0.8; transform: scale(1); }
}
