body{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    margin:0;
}

p{
    width: 33%;
    min-width: 300px;
    text-align: justify;
    font-size: 40px;
    margin:0;
    cursor: pointer;
}


span{
    position: relative;
    display: inline-block;
    transition: all 1s linear;
}
